.sidebar {
  background-color: #4d4c72;

  &--box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3rem;
    align-items: center;
    @media only screen and (min-width: $bp-medium) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 6rem);

      &:first-child {
        margin-top: 3rem;
      }
    }

    img {
      height: 1.5rem;
      width: 1.5rem;
      @media only screen and (min-width: $bp-medium) {
        height: 3rem;
        width: 3rem;
      }
    }
  }
  &--nav-icon {
    display: grid;
    justify-content: center;
  }
}
